/* ============================ */
/*         HERO MODERNA         */
/* ============================ */

.hero {
  position: relative;
  width: 100%;
  height: 90vh;
  background-image: url('https://images.unsplash.com/photo-1568605114967-8130f3a36994?q=80&w=2000');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* overlay scuro per contrasto */
.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.45);
}

/* Testi centrati */
.hero-content {
  position: relative;
  text-align: center;
  color: white;
  z-index: 2;
  max-width: 700px;
  padding: 20px;
}

.hero-content h1 {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 15px;
}

.hero-content p {
  font-size: 1.2rem;
  margin-bottom: 35px;
  opacity: 0.95;
}

/* CENTRARE LA SEARCH BAR */
.search-wrapper {
  display: flex;
  justify-content: center;
}


/* ============================ */
/*    SEZIONE ULTIME INSERZIONI */
/* ============================ */

.ultime-inserzioni {
  padding: 60px 10%;
  background-color: #f8fafc;
  margin-top: 40px; /*evitiamo sovrap*/
}

.ultime-inserzioni h2 {
  font-size: 2rem;
  margin-bottom: 25px;
  color: #0f172a;
}

/* Griglia moderna */
.grid-inserzioni {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 25px;
}

