<div class="forgot-container">

  <h2>Recupero password</h2>

  <p>
    Inserisci l'email con cui ti sei registrato, riceverai un link per reimpostare la password.
  </p>

  <form [formGroup]="forgotForm" (ngSubmit)="sendRequest()">

    <input
      type="email"
      placeholder="La tua email"
      formControlName="email"
      required
    />

    <button type="submit" [disabled]="forgotForm.invalid || loading">
      {{ loading ? 'Invio in corso...' : 'Invia link di reset' }}
    </button>

  </form>

  <!-- Messaggio di feedback -->
   @if (message){
  <p [ngClass]="messageType">
    {{ message }}
  </p>}

</div>

