.no-results {
  height: calc(100vh - 80px); /* assunzione: header ~80px */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  color: #072451; /* blu */
}

.no-results h2 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 12px;
}

.no-results .highlight {
  color: #ffbb00; /* giallo */
}

.no-results p {
  font-size: 16px;
  opacity: 0.85;
}

