<nav class="navbar">

  <div class="logo" [routerLink]="'/'">
    DietiEstate25
  </div>


  <div class="right-side">

  <!-- Landing → Login -->
  <a *ngIf="showLoginButton" [routerLink]="'/login'" class="login-btn">
    Login
  </a>

  <!-- Login/Register → Home -->
  <a *ngIf="showHomeButton" [routerLink]="'/'" class="login-btn">
    Home
  </a>

  <!-- Loggato → Icona profilo -->
  <div *ngIf="showProfileIcon" class="profile-area">

      <div class="profile-icon" (click)="toggleMenu()">
        <img src="assets/icons/profilo.png" alt="Profilo" height="1024" width="1024">
        Profilo
      </div>

        <!-- Menu a tendina -->
        <div class="dropdown-menu" *ngIf="menuAperto">

        <app-menunavbar [role]="userRole" [logout]="logout.bind(this)" (close)="chiudiMenu()"> </app-menunavbar>

        </div>
  </div>
</div>


</nav>



