.navbar {
  width: 100%;
  height: 70px;
  background-color: #2977a7; /* azzurro */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  box-sizing: border-box;
}

/* LOGO A SINISTRA */
.logo {
  font-size: 24px;
  font-weight: bold;
  color: white;
}

/* BARRA DI RICERCA AL CENTRO */
.search-container {
  flex: 1;                     /* occupa lo spazio centrale */
  display: flex;
  justify-content: center;
  pointer-events: auto;        /* sicurezza */
}

.search-container input {
  width: 350px;
  max-width: 100%;
  padding: 8px 12px;
  border-radius: 8px;
  border: none;
}

/* BOTTONE A DESTRA */
.right-side {
  margin-left: 20px;
  z-index: 10;                 /* IMPORTANTE per cliccare */
}

.right-side a {
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}


.profile-area {
  display: flex;
  align-items: center;
  gap: 15px;
}

.profile-area profile-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #2977a7;
  cursor: pointer;
}

.logout-btn {
  padding: 6px 12px;
  background-color: #1206c0;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

.logout-btn:hover {
  background-color: #e60000;
}

.role-label {
  font-weight: 600;
  font-size: 14px;
  color: #ffffff;
}

