a {
  display: block;
  padding: 12px 18px;
  color: #1e293b;
  text-decoration: none;
  font-size: 15px;
  transition: 0.25s;
}

a:hover {
  background: #f1f5f9;
}

a:not(:last-child) {
  border-bottom: 1px solid rgba(0,0,0,0.06);
}
