.custom-marker {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.marker-price {
  background-color: #4CAF50;
  color: white;
  font-weight: bold;
  padding: 2px 6px;
  border-radius: 4px;
  font-size: 12px;
  white-space: nowrap;
  margin-bottom: 4px;
}

.marker-pin {
  width: 20px;
  height: 20px;
  background-color: #4CAF50; /* colore marker */
  border-radius: 50%;          /* diventa un cerchio pieno */
  border: 2px solid white;
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);
  margin-top: 4px;             /* distanza dal prezzo */
}



