<!-- PROGRESS BAR FISSA -->
<div class="progress-wrapper">
  <app-progress-bar
    [stepCorrente]="stepCorrente"
    [totaleStep]="totaleStep">
  </app-progress-bar>
</div>

<!-- CONTENUTO STEP -->
<div class="step-content">
  <!-- qui cambiano gli step -->

  @if (stepCorrente === 1){
  <app-step-posizione
    [posizioneForm]="posizioneForm"
    [comuniFiltrati]="comuniFiltrati"
    (comuneChange)="onComuneInput($event)"
    (selezionaComune)="onComuneSelezionato($event)"
    (posizioneSelezionata)="onPosizioneSelezionata($event)"
    (nextStep)="nextStep()">
  </app-step-posizione>}




  <!-- STEP 2: MAPPA (COMPONENTE SEPARATO) -->

@if (stepCorrente === 2){  
<app-step-mappa
  [posizioneForm]="posizioneForm"
  (avanti)="nextStep()"
  (indietro)="previousStep()">
</app-step-mappa>}


@if (stepCorrente === 3){
<app-step-dati-inserzione
  [datiInserzioneForm]="datiInserzioneForm"
  (avanti)="nextStep()"
  (indietro)="previousStep()"
  (prezzoInput)="onPrezzoInput($event)"
  (prezzoBlur)="formatPrezzo()">
</app-step-dati-inserzione>}


@if (stepCorrente === 4){
<app-step-immagini
  [anteprime]="anteprime"
  [immaginiCount]="immagini.length"
  (fileSelezionati)="onFileSelected($event)"
  (rimuovi)="rimuoviImmagine($event)"
  (indietro)="previousStep()"
  (pubblica)="submit()">
</app-step-immagini>}

</div>




