<form [formGroup]="form" (ngSubmit)="onSearch()">
  <div class="autocomplete-container">
    <input
      type="text"
      placeholder="Inserisci il comune"
      formControlName="comune"
      autocomplete="off"
    />

    <ul *ngIf="comuniSuggeriti.length > 0" class="suggerimenti">
      <li *ngFor="let c of comuniSuggeriti" (click)="selezionaComune(c)">
        {{ c }}
      </li>
    </ul>
  </div>

  <button type="button" (click)="toggleFiltriAggiuntivi()">
    Filtri aggiuntivi
  </button>

  <div *ngIf="mostraFiltriAggiuntivi" class="filtri-avanzati">
    <input type="text" placeholder="Categoria" formControlName="categoria" />
    <input type="number" placeholder="Prezzo Min" formControlName="prezzoMin" />
    <input type="number" placeholder="Prezzo Max" formControlName="prezzoMax" />
    <input type="number" placeholder="Dimensioni Min" formControlName="dimensioniMin" />
    <input type="number" placeholder="Dimensioni Max" formControlName="dimensioniMax" />
    <input type="number" placeholder="Numero Stanze" formControlName="numeroStanze" />
    <label>
      <input type="checkbox" formControlName="ascensore" /> Ascensore
    </label>
    <input type="text" placeholder="Stato" formControlName="stato" />
  </div>

  <button type="submit" [disabled]="form.invalid">
    Cerca
  </button>
</form>



