<div class="reset-container">

  <h2>Reimposta la tua password</h2>

  <form [formGroup]="resetForm" (ngSubmit)="submitNewPassword()">

    <input
      type="password"
      placeholder="Nuova password"
      formControlName="newPassword"
      required
    />

    <input
      type="password"
      placeholder="Ripeti password"
      formControlName="confirmPassword"
      required
    />

    <button type="submit" [disabled]="resetForm.invalid">
      Conferma
    </button>

  </form>

  <p *ngIf="message">{{ message }}</p>

</div>
