<div class="profilo-container">

  <h1>Il mio profilo</h1>

  <button class="btn-back" (click)="goBack()">
    ← Indietro
  </button>

  <div class="profilo-box" [class.loading]="loading">

    <div class="info-riepilogo">
      <p><strong>Email:</strong> {{ email }}</p>
      <p><strong>Ruolo:</strong> {{ ruolo }}</p>
    </div>

    <!-- FORM DATI PROFILO -->
    <form [formGroup]="form" (ngSubmit)="onSubmit()">

      <label>Nome</label>
      <input formControlName="nome">

      <label>Cognome</label>
      <input formControlName="cognome">

      <label>Numero di telefono</label>
      <input formControlName="numero">

      <label>Indirizzo</label>
      <input formControlName="indirizzo">

      <button class="btn-primary" [disabled]="saving || form.invalid">
        {{ saving ? 'Salvataggio...' : 'Salva modifiche' }}
      </button>

      @if (showSuccess) {
        <div class="success-msg">
          ✔ Modifiche salvate!
        </div>
      }

    </form>

    <!-- SEZIONE SICUREZZA solo per agente -->
    @if (ruolo === 'AGENTE') {
      <app-change-password></app-change-password>
    }


  </div>
</div>
