.container {
  padding: 40px 10%;
}

h1 {
  margin-bottom: 20px;
  font-size: 2rem;
}

.no-results {
  padding: 20px;
  font-size: 1.2rem;
  color: #7b7b7b;
}

.grid {
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
}
