.login-container {
  width: 100%;
  margin-top: 80px;
  display: flex;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  width: 300px;
  gap: 15px;
}

input {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

button {
  padding: 10px;
  background-color: #87CEEB;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

.error {
  color: red;
  font-size: 12px;
}

.register-link {
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
}

.register-link a {
  color: #87CEEB;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}
.register-link a:hover {
  text-decoration: underline;
}

