<!DOCTYPE html>

<div class="login-container">
  <form [formGroup]="loginForm" >

    <h2>Accedi</h2>

    <!-- Email -->
    <input
      type="email"
      placeholder="Email"
      formControlName="mail"
    />
    @if(loginForm.get('mail')?.invalid && loginForm.get('mail')?.touched){
    <div class="error">
      Email non valida
    </div>}

    <!-- Password -->
    <input
      type="password"
      placeholder="Password"
      formControlName="password"
    />
    @if(loginForm.get('password')?.invalid && loginForm.get('password')?.touched){
    <div class="error">
      Inserisci la password
    </div>}

    <!-- Bottone Login -->
    <button type="submit" [disabled]="loginForm.invalid" (click)="onSubmit()">Login</button>


    <!-- Bottone Password Dimenticata -->
    <a (click)="openForgotPassword()">Ho dimenticato la password?</a>


    <!-- Divider -->
    <div class="separator">
      <span>oppure</span>
    </div>


    <!-- OAuth Providers -->
    <div class="providers">

      <div class="social-login-row">

      <!-- GOOGLE -->
      <button class="social-btn" (click)="loginWith('google')">
        <img src="https://storage.googleapis.com/database-dietiestate25/assets/google.jpg">
      </button>

      <!-- FACEBOOK -->
      <button class="social-btn" (click)="loginWith('facebook')">
        <img src="https://storage.googleapis.com/database-dietiestate25/assets/facebook.png">
      </button>

      <!-- GITHUB -->
      <button class="social-btn" (click)="loginWith('github')">
        <img src="https://storage.googleapis.com/database-dietiestate25/assets/github.png">
      </button>

  </div>

    </div>

    <p class="register-link">
      Non hai un account?
      <a routerLink="/register">Registrati</a>
    </p>

  </form>
</div>
